.history__container {
  width: 30vw;
  background-color: #dde2f7d6;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.history__btn {
  padding: 0.5rem 0.9rem;
  border-radius: 25px;
}

.history__points {
  font-size: 1.5rem;
}
