.App {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
    to right,
    #0a2031,
    #07263d,
    #052c48,
    #023155,
    #023761
  );
  font-family: 'varinonormal';
  position: relative;
}

.App__description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  color: #ffd900;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 2rem;
  text-transform: uppercase;
}

.score {
  color: #fff;
  font-size: 4rem;
  margin: 0;
  position: absolute;
  top: 0;
  right: 3rem;
}
